.banner {
    /* background-image: url(./assets/banner-bg.png); */
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}

.active {
    color: #E5C973;
}

.dropdown .active {
    background-color: #E5C973;
    color: #000;
}

.mobile .active:hover {
    opacity: .9;
}

.about-bg {
    background-image: url(./assets/about-banner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}


@media (width <=1024px) {
    .contact-info {
        box-shadow: 0 0 0 100vmax #E6ECF2;
        clip-path: inset(0 -100vmax);
        background-color: #E6ECF2;
    }
}