.banner {
    /* background-image: url(./assets/banner-bg.png); */
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}

.active {
    color: #E5C973;
}

.about-bg {
    background-image: url(./assets/about-banner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}